{% extends 'base.html' %}

{% block content %}

<h2>Add Course</h2>

<form method="POST">

    <div class="mb-3">

        <label>Course Name</label>

        <input class="form-control" name="course_name" required>

    </div>

    <div class="mb-3">

        <label>Course Code</label>

        <input class="form-control" name="course_code" required>

    </div>

    <div class="mb-3">

        <label>Credits</label>

        <input type="number" class="form-control" name="credits" required>

    </div>

    <button class="btn btn-success">

        Save Course

    </button>

    <a href="/admin/courses" class="btn btn-secondary">

        Cancel

    </a>

</form>

{% endblock %}